<!DOCTYPE html>
<html>
<head>
  <title>Resolute</title>
  <%= stylesheet_link_tag    "resolute/application" %>
  <%= javascript_include_tag "resolute/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
